{#
<!-- load the template from index.html with menu, hero image and hero text to prevent having to put it on every page  -->#} {% extends "index.html" %} {% block content %}
<br><br>
<div class="row">
 <!-- <div class="col-md-2">
          
  </div> -->
   
  <div class="col-md-4">
    <img src="https://cdn.glitch.com/4cbf2b0d-da41-4e82-9833-4e9645f97308%2F20200220_140114.jpg?v=1582229126825" class="img-fluid">
    <br>
    <small class="text-muted">Photo Credit:<a href="https://angelalauren.co/" target="_blank">
    Angela Lauren Co.</a></small>
  </div>
  <!-- <div class="col-md-2">
          
  </div> -->
   
  <!-- <br> -->
  <div class="col-md-4">
    <h1>
      About the Creator 
    </h1>
    <p>
      My name is Mon'Trice Brightmon. I created this website as way to support and patronize Black Owned Businesses across different industries and make it easier for others in my life to do the same. 
    </p>
    <p>
      I created and coded this as a learning opportunity and personal project as I am currently a Student of Unlock Academy, learning how to code.
    </p>
    <p>
    Disclaimer: I do not own any of the photos shown on this website. All photos were sourced from the respective brand's website or the brand's Social Media page (Instagram or Facebook).
    </p>
    <p>
    For all of the Personal Care (Skin, Hair, etc) and Food/Drink Brands included, I did my best to research the ingredients used to ensure they were natural/organic and do not include any harmful chemicals. Please be sure to do your own personal research on any ingredients to ensure you do not have any allergies or sensitivities.
    </p>
        <p>
       Connect with me around the interwebs!
       </p>
       <p>
        <a href="https://github.com/TriceB"><i class="fab fa-github fa-1x" style="color:#5d8e1e"></i> </a>
        <a href="https://www.linkedin.com/in/montrice-brightmon/"><i class="fab fa-linkedin fa-1x" style="color:#5d8e1e"></i> </a>
        <a href="https://twitter.com/TriceCodes"><i class="fab fa-twitter fa-1x" style="color:#5d8e1e"></i> </a>


       </p>
  </div>
   
  
  <!-- https://mbrightmon-portfolio.glitch.me/  -->
  
</div>

{% endblock %}